#list {
    overflow: hidden;
    width: 100%;
    caption {
        text-align: left;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        span {
            margin-left: 15px;
        }
        strong {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            height: 38px;
            text-align: center;
            line-height: 38px;
            float: right;
          
            margin-top: 12px;
            background: #2b81f0;
            color: #fff;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        i{
            font-size: 12px;
            color: #333;
        }
        #huifu{
            width: 95px;
              margin-right: 20px;
        }
        #delete{
            width: 65px;
              margin-right: 20px;
        }
        #print{
            width: 120px;
              margin-right: 10px;
        }
        #pass{
            width: 95px;
            margin-right: 10px;
        }
        #Fgoods{
            width: 65px;
            margin-right: 10px;
        }
    }
    thead {
        th {
            height: 54px;
            border: none;
            font-size: 14px;
            background: #fff;
        }
    }
    tbody {
        td {
            text-align: center;
            color: #333;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
        }
    }
}

.box{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
