.li1{
    width: 100px;
}
.li2{
    width: 130px;
}
.li3{
    width: 130px;
}
.li4{
    width: 140px;
}
.li5{
    width: 200px;
}
.li6{
    width: 140px;
}
.li7{
    width: 110px;
}
.li8{
    width: 120px;
}
.li9{
    width: 100px;
}
.li5,.li6,.li9{
    text-align: left;
    padding: 0 20px;
}

tr{
    border-bottom: 1px solid #e9e8e8;
}
tr{
    line-height: 40px;
}
