.order-info {
  background: #fff;
  margin-top: 10px;
  padding: 20px 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box; }
  .order-info .add {
    overflow: hidden; }
    .order-info .add span {
      display: inline-block;
      *display: inline;
      *zoom: 1;
      width: 120px;
      font-size: 16px;
      text-align: right;
      margin-right: 20px;
      line-height: 65px; }
    .order-info .add input,
    .order-info .add select {
      width: 280px;
      height: 36px;
      padding: 0 5px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -o-box-sizing: border-box;
      margin-top: 16px; }
    .order-info .add .left {
      width: 290px;
      float: left;
      text-align: right; }
      .order-info .add .left b {
        color: red; }
    .order-info .add .right {
      overflow: hidden; }
      .order-info .add .right span {
        float: left;
        text-align: left;
        width: 200px;
        display: inline;
        margin-right: 50px;
        font-size: 16px;
        color: #666;
        margin-left: 10px; }
      .order-info .add .right i {
        font-size: 18px;
        color: #0f6ee9;
        cursor: pointer;
        line-height: 65px; }
      .order-info .add .right strong {
        font-size: 14px;
        color: #666;
        margin-left: 14px; }
      .order-info .add .right input[type="radio"] {
        width: 18px;
        height: 18px;
        margin-top: 25px;
        float: left; }
      .order-info .add .right .add-subject {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        height: 40px;
        line-height: 40px;
        width: 100px;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 4px;
        cursor: pointer;
        color: #fff;
        font-size: 16px;
        background: #2b81f0;
        margin-top: 10px; }
      .order-info .add .right .kk {
        height: 36px;
        line-height: 36px;
        width: 200px; }
      .order-info .add .right .mb {
        margin-top: 10px; }
        .order-info .add .right .mb span {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          height: 40px;
          width: 100px;
          background: #2b81f0;
          color: #fff;
          text-align: center;
          line-height: 40px;
          border-radius: 5px;
          cursor: pointer; }
      .order-info .add .right .box {
        padding-top: 25px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        overflow: hidden; }
        .order-info .add .right .box .display-pic,
        .order-info .add .right .box #bg {
          float: left;
          width: 80px;
          height: 170px; }
          .order-info .add .right .box .display-pic img,
          .order-info .add .right .box #bg img {
            width: 80px;
            height: 140px; }
          .order-info .add .right .box .display-pic .one,
          .order-info .add .right .box #bg .one {
            font-size: 1px;
            color: #333;
            line-height: 30px;
            text-align: center; }
        .order-info .add .right .box #bg {
          margin-left: 20px;
          display: none; }
        .order-info .add .right .box .link {
          float: left;
          box-sizing: border-box;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box; }
          .order-info .add .right .box .link input {
            height: 20px;
            font-size: 14px;
            width: 180px;
            border: 1px solid #b6b6b6;
            margin-top: 0; }
          .order-info .add .right .box .link p {
            margin-left: 10px; }
          .order-info .add .right .box .link i {
            font-size: 20px;
            color: #8a8a8a;
            margin-left: 10px;
            height: 20px;
            line-height: 20px;
            cursor: pointer; }
          .order-info .add .right .box .link .one {
            font-size: 16px;
            color: #333; }
          .order-info .add .right .box .link .two {
            margin-top: 90px; }
            .order-info .add .right .box .link .two span {
              float: left;
              width: 140px;
              font-size: 14px;
              margin-right: 0;
              margin-left: 0;
              height: 20px;
              line-height: 20px; }
            .order-info .add .right .box .link .two input {
              float: left;
              height: 20px;
              font-size: 14px;
              width: 180px;
              border: 1px solid #b6b6b6;
              margin-top: 0; }
    .order-info .add .opration {
      width: 100%;
      overflow: hidden; }
      .order-info .add .opration span {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 100px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        margin-right: 20px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        font-size: 16px;
        cursor: pointer; }
      .order-info .add .opration button {
        width: 100px;
        height: 40px;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        font-size: 16px;
        cursor: pointer; }
      .order-info .add .opration .qd {
        background: #2b81f0;
        color: #fff;
        margin-right: 90px; }
      .order-info .add .opration .cancel {
        border: 1px solid #2b81f0;
        background: #fff;
        color: #2b81f0; }
  .order-info .pic {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 80px;
    height: 80px;
    font-size: 30px;
    line-height: 80px;
    text-align: center;
    position: relative;
    cursor: pointer;
    color: #b5b5b5;
    background: #fff;
    border: 1px dashed #b5b5b5;
    border-radius: 4px;
    overflow: hidden; }
    .order-info .pic img {
      width: 100%;
      height: 100%; }
    .order-info .pic input {
      position: absolute;
      width: 80px;
      height: 80px;
      font-size: 100px;
      right: 0;
      top: 0;
      opacity: 0;
      filter: alpha(opacity=0);
      cursor: pointer;
      background: red; }
  .order-info .pics {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    position: relative;
    cursor: pointer;
    color: #fff;
    background: #2b81f0;
    border-radius: 4px;
    overflow: hidden; }
    .order-info .pics input {
      position: absolute;
      width: 100px;
      height: 40px;
      font-size: 100px;
      right: 0;
      top: 0;
      opacity: 0;
      filter: alpha(opacity=0);
      cursor: pointer;
      background: red; }

.opration {
  margin-left: 290px;
  overflow: hidden; }
  .opration span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 16px;
    cursor: pointer; }
  .opration button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 16px;
    cursor: pointer; }
  .opration .qd {
    background: #2b81f0;
    color: #fff;
    margin-right: 90px; }
  .opration .cancel {
    border: 1px solid #2b81f0;
    background: #fff;
    color: #2b81f0; }

.model-m {
  float: left;
  width: 145px;
  height: 280px;
  margin-right: 25px; }
  .model-m p {
    text-align: center;
    line-height: 40px;
    font-size: 12px; }
  .model-m .model {
    position: relative; }
    .model-m .model img {
      width: 145px;
      height: 240px; }
    .model-m .model i {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 50px;
      margin: 0;
      padding: 0;
      color: rgba(0, 0, 0, 0.6);
      display: none; }
    .model-m .model .smark {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      top: 0;
      left: 0;
      text-align: center;
      display: none; }
      .model-m .model .smark span {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        width: 70px;
        height: 36px;
        background: #2b81f0;
        color: #fff;
        line-height: 36px;
        text-align: center;
        margin-top: 100px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -ms-border-radius: 4px;
        cursor: pointer;
        font-size: 14px;
        border: none; }

.mark {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10000;
  display: none;
  z-index: 3; }

.mdd-model {
  width: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 4;
  display: none;
  width: 940px;
  height: 660px;
  background: #fff;
  margin-left: -470px;
  margin-top: -310px;
  overflow: hidden;
  padding: 20px 40px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box; }

.gdx {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -160px;
  margin-left: -260px;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  width: 520px;
  height: 320px;
  z-index: 10001;
  background: #fff;
  overflow: hidden;
  font-size: 12px; }

.gdx p {
  text-align: center;
  line-height: 60px;
  font-size: 22px;
  color: #333; }
  .gdx p i {
    font-size: 84px;
    color: #2b81f0; }

/*# sourceMappingURL=m-add.css.map */
