.li1 {
    width: 300px;
    input {
        float: left;
        width: 15px;
        height: 15px;
        margin-top: 3px;
    }
    img {
        width: 80px;
        height: 80px;
        margin: 8px;
        float: left;
        margin-left: 0;
    }
    padding-left: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
}
.li2 {
    width: 85px;
    border-right: 1px solid #f2f1f1;
}
.li3 {
    width: 135px;
    border-right: 1px solid #f2f1f1;
}
.li4 {
    width: 295px;
    border-right: 1px solid #f2f1f1;
    p {
        text-align: left;
        margin: 0 10px;
    }
}
.li5 {
    width: 115px;
    border-right: 1px solid #f2f1f1;
}
.li6 {
    width: 90px;
    border-right: 1px solid #f2f1f1;
}
.li7 {
    width: 90px;
    border-right: 1px solid #f2f1f1;
}
tbody {
    .li7 {
        .fh,
        .wc {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 50px;
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            border: 1px solid #2b81f0;
            color: #2b81f0;
            font-size: 14px;
            cursor: pointer;
        }
    }
}
.li8 {
    width: 90px;
    i {
        margin: 0 5px;
        cursor: pointer;
        font-size: 18px;
    }
}
.order-info {
    height: 40px;
    width: 100%;
    background: #f2f1f1;
    //  .xian{
    //      height: 11px;
    //      background: #fff;
    //      border-bottom: 1px solid #f2f1f1;
    //  }
    td {
        //width: 1176px;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        color: #66;
        input {
            float: left;
            width: 15px;
            height: 15px;
            margin-left: 20px;
            margin-top: 12px;
        }
        span,
        i {
            float: left;
            color: #666;
        }
        strong {
            float: left;
            margin-top: 10px; //          display: inline-block;
            //          *display: inline;
            //          *zoom:1;
            width: 50px;
            height: 20px;
            background: red;
            line-height: 20px;
            font-size: 12px;
            text-align: center;
            color: #fff;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            margin-left: 20px;
        }
        b {
            float: right;
            font-weight: normal;
            color: #666;
            margin-right: 20px;
        }
    }
}
.order {
    background: #fff;
    td {
        border-bottom: 1px solid #e9e8e8;
    }
}
.mark {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 10000;
    display: none;
}
#Adeliver {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -270px;
    margin-left: -505px;
    padding: 40px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 1010px;
    height: 540px;
    z-index: 10001;
    background: #fff;
    overflow: hidden;
    thead {
        border-bottom: 1px solid #e9e8e8;
    }
    tr {
        line-height: 50px;
        td {}
    }
    select {
        width: 160px;
        height: 30px;
        float: left;
    }
    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #000;
        font-size: 16px;
        cursor: pointer;
    }
    .opration {
        position: absolute;
        bottom: 80px;
        width: 100%;
        text-align: center;
        overflow: hidden;
        span {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 100px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            margin-right: 20px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        button {
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            outline: none;
        }
        .qd {
            background: #2b81f0;
            color: #fff;
            margin-right: 90px;
        }
        .qx {
            border: 1px solid #2b81f0;
            background: #fff;
            color: #2b81f0;
        }
    }
}
.li11 {
    width: 75px;
}
.li12 {
    width: 125px;
}
.li13 {
    width: 180px;
}
.li14 {
    width: 300px;
    text-align: left;
    select {
        width: 160px;
        height: 30px;
        float: left;
    }
}
.li15 {
    width: 300px;
    text-align: left;
    input {
        width: 160px;
        height: 30px;
        float: left;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
    }
}
