.li1 {
    width: 280px;
    input {
        float: left;
        width: 15px;
        height: 15px;
        margin-top: 3px;
    }
    padding-left: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    span{
        margin-left: 40px;
    }
}
.li2 {
    width: 130px;
}
.li3 {
    width: 150px;
}
.li4 {
    width: 120px;
    p {
        text-align: left;
        margin: 0 10px;
    }
}
.li5 {
    width: 120px;
}
.li6 {
    width: 120px;
}
.li7 {
    width: 265px;
    text-align: left;
    i {
        margin: 0 8px;
        cursor: pointer;
        font-size: 18px;
    }
}
thead .li7{
    padding-left: 20px;
}
#list .order {
    background: #fff;
    height: 40px;
    td {
        border-bottom: 1px solid #e9e8e8;
        text-align: left;
    }
}
//#list .order .li7{
//  text-align: center;
//}
thead tr{
    border-bottom: 1px solid #e9e8e8;
}
thead th{
    text-align: left;
}
.mark {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 10000;
    display: none;
}
