.search {
    margin-top: 10px;
    padding: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #fff;
    p {
        height: 60px;
        line-height: 60px;
    }
    a {
        display: inline-block;
        *display: line;
        *zoom: 1;
        background: #2b81f0;
        color: #fff;
        width: 130px;
        height: 38px;
        text-align: center;
        line-height: 38px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }
    span,
    input,
    strong,
    b,
    select {
        float: left;
    }
    span {
        font-size: 14px;
        line-height: 60px;
        //width: 75px;
        text-align: right;
    }
    input,
    select {
        width: 200px;
        height: 36px;
        line-height: 36px;
        margin-top: 10px;
        padding: 0 5px;
        border:1px solid #b6b6b6;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    strong {
        margin: 0 10px;
    }
    b,button {
        border: none;
        outline: none;
        font-weight: normal;
        width: 95px;
        height: 36px;
        background: #2b81f0;
        line-height: 36px;
        margin-top: 11px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        i{
            line-height: 30px;
            margin-right: 5px;
            font-size: 16px;
        }
    }
}